<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let article of articles">
    <ion-img [src]="article.urlToImage">

    </ion-img>
  </ion-card>
</ion-content> -->
<!-- <div *ngFor="let article of articles">

    <h2>{{article.title}}</h2>
  
      <p>
  
        {{article.description}}
  
      </p>
  
      <a href="{{article.url}}">Read full article</a>
  
  </div> -->
